<div class="flex items-center justify-center">
    <img src="/src/assets/svg/flecha.svg" class=" w-8 h-auto rotate-180" alt="">
    <img src="/src/assets/svg/flecha.svg" class=" w-8 h-auto" alt="">
</div>