---
import Flecha from '@/assets/svg/flecha.svg';

export interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<h2 class={`${className} text-center text-text-light flex items-center justify-center gap-3 `}>
    <Flecha class={' w-8 h-auto rotate-180'}/>
    <slot/>
    <Flecha class={' w-8 h-auto '}/>
</h2>