---
export interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<h2 class={`${className} text-center text-text-light flex items-center justify-center gap-3 `}>
    <img src="/src/assets/svg/flecha.svg" class=" w-8 h-auto rotate-180" alt="">
    <slot />
    <img src="/src/assets/svg/flecha.svg" class=" w-8 h-auto" alt="">
</h2>