---
import Header from "@/components/layout/Header.astro";
import '@fontsource/forum';
import { ClientRouter } from "astro:transitions";
interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const{ 
		title = 'Casa Montis Restaurante', 
		description = 'Restaurante de comida Gourmet en Palermo - Huila, Disfruta de la mejor comida de la región, con un ambiente acogedor y un servicio excepcional. Aqui encontrarás una amplia 	variedad de platos de alta calidad, desde platos tradicionales hasta platos innovadores.', 
		class: className 
	} = Astro.props;

---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/logo.webp" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class={`${className} animate-fade`}>
		<img src="/bg.webp" class=" fixed object-cover top-0 left-0 w-full h-full z-[-1] " alt="">
		<Header />
		<slot />
	</body>
</html>

<style>
	@font-face {
		font-family: 'Satoshi';
		src: url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff2') format('woff2'),
				url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Variable.woff') format('woff');
		font-display: swap;
		font-weight: 100 900;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Satoshi';
		src: url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
				url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-VariableItalic.woff') format('woff');
		font-display: swap;
		font-weight: 100 900;
		font-style: italic;
	}

	@font-face {
		font-family: 'Satoshi';
		src: url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
				url('/src/assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
		font-display: swap;
		font-weight: 100 900;
		font-style: normal;
	}
	
	:root {
		scrollbar-color: #4848484a transparent;
		scrollbar-width: thin;
		scroll-behavior: smooth;
	}
	
	html, body {
		background-color: #0A0B0A;
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Forum', system-ui;
		font-display: swap;
	}
	
	.font-texto {
		font-family: 'Satoshi', sans-serif !important;
	}
</style>
